<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CozyNest</title>
  </head>
  <body>
    <form method="post" action="/listings">
      <input name="listing[title]" placeholder="Enter Title" type="text" />
      <br />
      <textarea
        name="listing[description]"
        placeholder="Enter Description"
      ></textarea>
      <br />
      <input name="listing[image]" placeholder="Enter Image URL" type="text" />
      <br />
      <input name="listing[price]" placeholder="Enter Price" type="number" />
      <br />
      <input
        name="listing[location]"
        placeholder="Enter Location"
        type="text"
      />
      <br />
      <input name="listing[country]" placeholder="Enter Country" type="text" />
      <br />
      <button>Add</button>
    </form>
  </body>
</html>
